/* font-family: 'Special Elite', cursive;
font-family: 'Londrina Sketch', cursive;
font-family: 'Londrina Shadow', cursive;
font-family: 'Text Me One', sans-serif; */

body {
  font-family: "Text Me One", sans-serif;
}

html {
  scroll-padding-top: 30px;
}

p,
li {
}
h6 {
  font-weight: 900;
}

.headerR {
  height: 80px;
}
.phone {
  margin-top: 5px;
  float: right;
}

.header {
  height: 30px;
}

.banner {
  position: relative;
}
.banner img {
  width: 100%;
}
.buff {
  margin-top: 60px;
}
.faces {
  position: absolute;
}
.faces img {
  height: 250px;
  top: 15px;
  left: 16px;
  /* z-index: 1; */
}

a {
  color: darkolivegreen;
}
a:hover {
  color: green;
  text-decoration: none;
}

h2 {
  font-family: "Londrina Shadow", cursive;
}
.column2 {
  padding-left: 60px;
}
.socials {
  padding: 0px;
}

.socials img {
  margin-top: 15px;
  margin-bottom: 10px;
  padding-left: 40px;
  height: 25px;
  /* width: 20%; */
  float: right;
}

.email {
  padding-right: 15px;
}

.git img {
  float: right;
}

.git:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

/* projects */

.siteEx {
  height: 60vh;
}
.siteEx img {
  height: 80%;
}

.projLink a {
  color: lightseagreen;
}

.sketches0 {
  height: 70%;
  width: 80%;
}

.sketches {
  height: 70%;
  width: 80%;
  box-shadow: 20px 15px 10px -3px grey;
}
.sketches:hover,
.sketches0:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

.zoom a,
h2 {
  transition: transform 0.2s;
  margin: 0 auto;
  color: black;
}
.zoom:hover h2 {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  color: black;
}

.zoom:visited a {
  text-decoration: none;
  color: black;
}

.zoom:active a {
  text-decoration: none;
}

.research {
  margin-left: 0px;
  margin-bottom: 60px;
}

.research0 {
  height: auto;
  width: 100%;
  box-shadow: 20px 15px 15px -3px grey;
}
.research1 {
  height: 100%;
  width: 100%;
  box-shadow: 20px 15px 15px -3px grey;
}

.back {
  position: relative;
}

.front {
  position: absolute;
  top: 160px;
  left: 140px;
}

.fas {
  color: red;
}

/* FOOTER */
code {
  color: black;
}

.copy {
  text-align: center;
}

.saki {
  text-align: right;
}

/*chrono*/

#Ed,
#ep,
#cs,
#act,
#sport,
#design,
#admin {
  width: 50%;
}

.skills {
  text-align: center;
}
.skillz {
  font-weight: 700;
  color: darkolivegreen;
}

.skillzHead {
  font-weight: 900;
  color: black;
}

.headers {
  font-weight: 900;
}

.subheaders {
  font-weight: 700;
  color: darkolivegreen;
}
.chronolink,
.actor a {
  color: lightgreen;
}

.legend {
  text-align: center;
}

#myBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: thin;
  background-color: green;
  color: lightgreen;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

/* MEDIA QUERIES */

/* MOBILE */

/* @media screen and (max-width: 670px) */

@media (min-width: 320px) and (max-width: 480px) {
  .faces img {
    height: 80px;
    top: 3px;
    /* left: 10px; */
  }

  /* .faces img {
    top: 10px;
    left: 15px;
  } */

  .phone span {
    font-size: 9px;
    /* font-size: 10px; */
  }
  .phone span img {
    /* width: 15px; */
    width: 20px;
  }

  .socials img {
    height: 17px;
    padding-left: 10px;
    /* width: 15px; */
    /* padding: 0px; */
    /* margin: 10px 3px 0px; */
  }

  .title {
    padding-right: 0px;
  }

  .saki {
    text-align: center;
  }

  .midsect {
    width: 90%;
  }

  .siteEx img {
    height: 40%;
  }

  .sketches0 {
    height: 35%;
    width: 100%;
  }

  .research0 {
    width: 95%;
  }

  .research1 {
    height: 50%;
    width: 90%;
  }

  .back {
    margin-top: 20%;
  }

  .front {
    top: 100px;
    left: 0px;
  }

  .nature {
    width: 100px;
    height: 100px;
    left: 5px;
  }
  .nature img {
    top: 5px;
  }
}

.girona img {
  height: 280px;
  width: 336px;
}
