body {
  /* background-color: rgb(235, 242, 238); */
  /* background-color: rgb(210, 218, 212); */
  font-family: "Text Me One", sans-serif;

  background: rgb(235, 242, 238); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #71b280,
    #134e5e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #71b280,
    #134e5e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.heading {
  height: 30vh;
}

.midsect {
  height: 65vh;
}

.green {
  text-align: center;
}

.green img {
  filter: opacity(80%);
  box-shadow: 8px 8px 10px rgb(94, 114, 103);
  max-width: 100%;
}

/* .green:hover {
  -ms-transform: scale(1.1); /* IE 9 
  -webkit-transform: scale(1.1); /* Safari 3-8 
  transform: scale(1.1);
} */

.saki {
  text-align: right;
  color: rgb(154, 194, 172);
  font-family: "Text Me One", sans-serif;
}

.girona img {
  height: 280px;
  width: 336px;
}

.socials img {
  margin-top: 15px;
  margin-bottom: 10px;
  padding-left: 40px;
  height: 25px;
  float: right;
}

.email {
  padding-right: 15px;
}

.git img {
  float: right;
}
